.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .error-page h1 {
    font-size: 2rem;
    color: #ff0000; /* Couleur rouge pour l'erreur */
  }
  
  .error-page p {
    font-size: 1.2rem;
    margin: 20px 0;
  }
  
  .error-page a {
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
  }
  
  .error-page a:hover {
    text-decoration: underline;
  }
  